.mySlides {display:none;}

.handsome-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.usage td {
	 padding: .4rem .3rem !important;
}


.btn-group-fixed {
    position: absolute;
    bottom: 10px;
    right: auto; 
    padding: 10px;
    text-align: right; 
}

@media (max-width: 1150px) {
    .btn-group-fixed {
        position: absolute; /* Remove absolute positioning on smaller screens */
        margin-top: 10px !important;
		text-align: left;
		 margin-right: 15px !important;
		 padding: 1px;
		
    }
}
@media (max-width: 1000px) {
    .btn-group-fixed {
        position: absolute; /* Remove absolute positioning on smaller screens */
        margin-top: 20px !important;
		text-align: left;
		 margin-right: 15px !important;
		 padding: 1px;
		
    }
}
@media (max-width: 900px) {
    .btn-group-fixed {
        position: static; /* Remove absolute positioning on smaller screens */
        margin-top: 20px !important;
		text-align: left;
		 margin-right: 15px !important;
		 padding: 1px;
		
    }
}


.coal-usage-graph{left: 0px;top: 5px;width: 420px;height: 430px !important;}
@media (max-width: 1150px) {
    .coal-usage-graph{height: 430px !important;}
}
@media (max-width: 1000px) {
    .coal-usage-graph{height: 430px !important;}
}
@media (max-width: 900px) {
    .coal-usage-graph{height: 430px !important;}
}
.equal-height {
    display: flex;
}

.equal-height > .col-md-6 {
    display: flex;
}

.equal-height > .col-md-6 > .card {
    flex: 1;
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    display: none !important;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0px !important;
}


.active:after {
  content: "";
}
.accordione {
 
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  
}
.accordion {
 
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: 700;
  
}



.active, .accordion:hover {
  background-color: #fff; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #ffff;
  overflow: hidden;
}



.parente {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the parent container to the full viewport height */
  position: relative;
  margin-top: -35%; /* Adjust margin-top as needed */
}

.image1,
.image2,
.image3 {
  width: 50%; /* Set the width of each image */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position images absolutely within the parent container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* Center the images horizontally and vertically */
}

.image2 {
  width: 50%; /* Adjust width of image 2 if needed */
  top: 15%; /* Adjust top position of image 2 if needed */
  left: 25%; /* Adjust left position of image 2 if needed */
}

.image3 {
  width: 60%; /* Adjust width of image 3 if needed */
  top: 30%; /* Adjust top position of image 3 if needed */
  left: 67%;
  transform: translateX(-50%); /* Center image 3 horizontally */
}

.right-img {
    /* Move the image to the right */
    max-width: 70%; /* Ensure image doesn't exceed parent container width */
    height: auto; /* Maintain aspect ratio */
}

.img-siza {
    height: 450px;
    width: 480px;
    background-size: cover;
    overflow: hidden;
}

.img-size {
    height: 450px;
    width: 797px;
    background-size: cover;
    overflow: hidden;
}
.modal-content {
   width: 700px;
  border:none;
}
.modal-body {
   padding: 0;
}

.carousel-control-prev-icon {
	width: 30px;
	height: 48px;
}
.carousel-control-next-icon {
	width: 30px;
	height: 48px;
}
/*----------- */
.dropdowna {
    min-width: 15em;
    position: relative;
    top: 0;
    margin: 1em;
}
.selecte {
    background: #306031;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}
.selecte-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}
.selecte:hover {
    background: #323741;
}
.carete {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.mena {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.mena .li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.mena .li:hover {
    background: #2a2d35;
}
.activa {
    background: #23242a;
}
.mena-open {
    display: block;
    opacity: 1;
}
/*-----------*/
.media-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.media-control {
    display: none; 
}
#media-input {
    display: block;
    width: 100%;
    height: 70%;
    line-height: 200px;
    opacity: 0;
    position: relative;
    z-index: 9;
}
.media-container:hover .media-control {
    display: block; 
}

.media-overlay {
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 96%;
    background-color: rgba(180, 180, 180, 0.6);
    border-radius: 11px;
}

.media-object {
    position: relative;
    width: 100%;
    height: auto;
}

.img-object {
    width: 100%;
    height: 60vh;
    margin-top: 4%;
    border-radius: 18px;
	margin-left: 1%;
}

/////////////////////////
.media-containers {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.media-controls {
    display: none; 
}
#media-inputs {
    display: block;
    width: 100%;
    height: 70%;
    line-height: 200px;
    opacity: 0;
    position: relative;
    z-index: 9;
}
.media-containers:hover .media-controls {
    display: block; 
}

.media-overlays {
    position: absolute;
    left: 0;
    top: 13px;
    width: 100%;
    height: 96%;
    background-color: rgba(180, 180, 180, 0.6);
    border-radius: 11px;
}

.media-objects {
    position: relative;
    width: 100%;
    height: auto;
}

.img-objects {
    width: 100%;
    height: 20vh;
    margin-top: 4%;
    border-radius: 18px;
	margin-left: 1%;
}


 .heading-3
{
   
    font-size: 8px; 
}
.heading-4 {
 
    font-size: 8px; 
}
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}
h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 1px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label::after {
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-group {
    display: contents;
    flex-wrap: wrap;
    align-items: center;
}

.since {
    width: 85px;
    height: auto;
    margin: 2% 2% 2% 4%;
}

.headings-container {
    flex: 1;
    margin-bottom: 10px;
}

.heading-3
{
    margin: 0;
    font-size: 28px;
}
.heading-4 {
    margin: 0;
    font-size: 28px;
}

@media only screen and (max-width: 768px) {
    .since {
        width: 65px;
        margin: 2% 4% 2% 4%;
    }
}


.filter-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.85rem 1.8rem;
    color: var(--light-one);
    text-transform: uppercase;
	
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
}
.filter {
    background-color: #ffff; 
    padding: 10px; 
    text-align: center; 
    width: 33%; 
    margin: 0 auto;
	margin-bottom: 3%;
	box-shadow: 2px 4px 4.800000190734863px 0px #D3D3D34A;
	border-radius: 10px;

}
.filtera {
    background-color: #ffff; 
    padding: 10px; 
    text-align: center; 
    width: 75%; 
    margin: 0 auto;
	margin-bottom: 3%;
	box-shadow: 2px 4px 4.800000190734863px 0px #D3D3D34A;
	border-radius: 10px;

}

#border {
	border: 1px solid #55555529;
	border-radius:20px;
	width: 49%;
}

#border1 {
	 border: 1px solid #55555529;
	 border-radius:20px;
	 width: 15%;
}
.filter-btn {
 
    border: none; 
    padding: 5px 10px; 
    margin: 5px; 
    cursor: pointer; 
	font-family: 'Inter';
}

.filter-btn.active {
    background: linear-gradient(90deg, #D8EAB0 0%, #A6B7D1 100%);
	font-family: 'Inter';
}

.bgg {
	background-color: #F5FAEB;
	padding: 10px;
}
.chart-container {
  margin: 0px auto;
  width: 75%;
  height: 400px;
}
.btn-span {
	    border: 1px solid black;
    margin-left: 15%;
    color: #ffff;
    padding: 2% 13% 4% 8%;
    background-color: #9ECB3A;
    text-align: center;
}
.color-circle {
    width: 25px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-img {
    margin: 15% 2% 2% 2%;
	font-size: 16px;
	font-family: 'Inter';
	font-weight: 500;
}
.solr-img {
    background: url('../img/icons/solr.jpg') no-repeat center center/cover;
    width: 100%;
    height: 90vh;
	margin-top: 5%;
}

.solr-heding {
    background-color: rgb(231, 231, 231);
    width: 30%;
    text-align: center;
    margin: auto;
    opacity: 0.5;
    border-radius: 8px;
    color: black;
}

.solr-btn {
    position: absolute;
    bottom: 80px;
    right: 20px;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(231, 231, 231);
    opacity: 0.7;
    border-radius: 8px;
}

.solr-text {
    text-align: center;
    padding: 8px 20px;
    background-color: #D5E8B3;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-bottom: 5%
}

.bill-heding {
    text-align: center;
    margin: 22px 0px;
    font-family: 'Inter';
    font-size: 26px;
    margin-top: -1%;
}

.body-stle {
  text-align: center;
  padding: 35px 0px;
}

.card-heding {
  background-color: #9ECB3A;
  color: white;
  text-align: center;
  padding: 10px 0px;
  font-family: 'Inter';
  border-radius: 9px 9px 0px 0px;
}

.main-timeline-2 {
  position: relative;
}

.main-timeline-2::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #efefef;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-2::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #efefef;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
}

.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right-2::after {
  left: -14px;
}

.time-heading {
	width:200px !important;
    background-color: #1E498F;
    margin: 2px 2px;
    border-radius: 8px;
    padding: 9px 20px;
	text-align:center;
    color: white;
	font-size: 14px;
}

.heading {
    font-size: 15px;
    margin-top: 26px;
    color: white;
}

.ps-style {
  margin: auto;
  width:150px !important;
  
}

.ps-style p{
  font-size: 14px;
  margin-top: 12px;
  margin-left: 7px;
  
}

@media screen and (max-width: 600px) {
  .main-timeline-2::after {
    left: 31px;
  }

  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  .right-2 {
    left: 0%;
  }
}


.solr-img2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
   display: block;
    border-radius: 0.25rem;

}

.solr-heding2 {
    text-align: center;
    margin-top: 8px;
}

.solr-main {
    background-color: #D5E8B3;
    margin-top: 30px;
    border-radius: 12px;
}

.spn-m {
	font-family: 'Inter';
    margin: 10px 0;
    color: #6C9415;
    font-weight: bolder;
	font-size: 24px;
}

.spn-n {
	font-family: 'Inter';
	font-size: 14px;
}
.solr-crd2 {
    text-align: center;
    padding: 8px 10px;
    background-color: #EAF4DA;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-bottom: 14%;
}
.benefit {
    font-size: 16px;
    margin-top: 15px;
	font-family: 'Inter';
}
#signatureCanvas {
    border: 1px solid gray;
    cursor: crosshair;
    margin: 12px 12px;
    background-color: rgb(231, 231, 231);
    border-radius: 8px;
}

#buttons2 button {
    background-color: rgb(231, 231, 231);
    color: black;
    padding: 6px 7px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;

}

#buttons2 button:hover {
    background-color: #c5fcc7;
}

.signature-main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.sign-icon {
    margin-right: 8px;
}

.sign-btn {
    margin: 15px 5px;
}

.sign-heding {
    margin: 10px 5px;
}

.tacbox {
    margin: 15px 5px;
}

.heading-con {
	text-align: center;
	font-family: 'Inter';
	margin-top: 7%;
	font-weight: 600;
	font-size: 30px;
}

.para-con {
	text-align: center;
	font-family: 'Inter';
	font-size: 12px;
	margin-top: 7px;
}

#suny {
	text-align: left;
	font-family: 'Inter';
	color: black;
	font-size: 16px;
}

#para-suny {
	text-align: left;
	font-family: 'Inter';
	color: #9ECB3A;
	font-size: 25px;
	font-weight: 600;
}
.solerr {
	font-size: 16px;
	font-family: 'Inter';
	text-align: center;
	margin-top: 5%;
}
.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}
#chart-1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
	width: 100%;
}

#chart-2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
	width: 100%;
}
#chart-3 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
	width: 100%;
	margin-top: 2%;
	max-height: 50vh;
}
#graph {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25rem;
}
#block 
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid #55555529;
	border-radius: 6px;
	margin-top: 2%;
	height: 19%;
	width: 30%;
	background-color: #B2BDCF;
}
#blocke {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #55555529;
    border-radius: 6px;
    margin-top: .5%;
    height: 100%;
    width: 100%;
    background-color: #1b2f63;
}
.heading-1 {
	font-family: 'Inter';
	text-align: center;
	margin-top: 3%;
	font-weight: 600;
	font-size: 26px;
}
.heading-2 {
	font-family: 'Inter';
	text-align: center;
	font-weight: 600;
	font-size: 26px;
}
.pera1 {
	margin-left: 5%;
}
.pera2 {
	margin-left: 5%;
}
#blocka
{
	text-align: center;
	margin-top: 5%;
	
}
@media (max-width: 991.98px) {
	.heading-1 {
		font-size: 17px;
}
	.heading-2 {
		font-size: 17px;
}
        .card {
            margin-top: 0 !important; /* Remove top margin for screens smaller than or equal to 991.98px */
        }
		#border {
			width: 100%;
		}
		#border1 {
			width: 25%;
		}
		#suny {
	text-align: center;
	
}
#para-suny {
	text-align: center;
	
}
#chart-1 {
	width: 100%;
}
#chart-2 {
	width: 100%;
	margin-top: 3%;	
}
#chart-3 {
	width: 100%;
	margin-top: 3%;	
}
#graph {
	width: 100%;
	margin-left: 12px;
}
#block {
	width: 70%;
}
#blocka {
	width: 70%;
}
		.filter {
   
    width: 100%; 
   

}
    }


.container {
    position: relative;
    overflow: hidden;
    height: 400px; 
}

